.fragment {
    visibility: hidden;
}

.fragment.fragment-visited {
    visibility: visible;
}

.fragment.fade {
    visibility: hidden;
}
.fragment.current-fragment {
    visibility: visible;
}

.fragment.highlight {
    visibility: inherit;
}

.fragment.highlight.current-fragment {
    color: var(--highlight-textcolor);
    background: var(--highlight-bgcolor);
}

.fragment.highlighted {
    visibility: visible;
}

.fragment.highlighted.current-fragment, .fragment.highlighted.fragment-visited:not(.fade) {
    color: var(--highlight-textcolor);
    background: var(--highlight-bgcolor);
}

.fragment.highlight-in.current-fragment {
    color: var(--highlight-textcolor);
    background: var(--highlight-bgcolor);
}




.fragment.strike.current-fragment, .fragment.strike.fragment-visited {
    text-decoration:line-through;
}

.fragment.remove.fragment-visited {
    visibility: hidden;
}
.fragment.remove:not(.fragment-visited) {
    visibility: inherit;
}



.rstack {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.istack {
    display: inline-grid;
    grid-template-columns: auto;
    align-items: center;
}

.rstack > *, .istack > * {
    grid-row: 1;
    grid-column: 1;
}
