@media print {
    /* All your print styles go here */
    body {
	margin: 0;
	font-size: 30px;
    }

    @page {
	size: 1920px 1200px;
	margin: 0;
    }
    .slide {
	width: 1920px;
	height: 1200px;
	page-break-after: always;
	overflow: hidden;
    }
    #monoski-controler {
	display: none;
    }
}
