@media print {
    /* All your print styles go here */
    body {
	margin: 0;
	font-size: 10px;
    }

    @page {
	size: 480px 300px;
	margin: 0;
    }
    .slide {
	width: 480px;
	height: 300px;
	page-break-after: always;
	overflow: hidden;
    }
}
