:root {
    --bgcolor: #f0f1eb;
    --titlecolor: #f60;
    --strongcolor: #6c71c4;
    --emcolor: #2aa198;
    --textcolor: #000;
    --highlight-bgcolor: #f60;
    --highlight-textcolor: #000;
    --excolor: #080;
    --importantcolor:#dc322f;
}

body {
    color: var(--textcolor);
    background: var(--bgcolor);
}
strong {color: var(--strongcolor);}
em {color: var(--emcolor);}
.slide { background: var(--bgcolor); }

h1,h2,h3,h4,h5,h6 {
    color: var(--titlecolor);
    font-weight: normal;
}

h1,h2 {
    margin: 10px auto;
    text-align: center;
    font-size: 2em;
}

h1 {
    font-variant-caps: small-caps;
}
.math em {
    color: var(--textcolor);
}

p{ margin: 0.5ch; }

/* Useful classes for presentation
 * BYOC, bring your own classes
 */

.center {
    margin: 1ch auto;
    text-align: center;
}

.small { font-size: 0.8em; }
.tiny {  font-size: 0.5em; }
cite, blockquote { font-style: italic; }

blockquote cite {
    font-size: 0.5em;
    text-decoration: underline;
}

.example {
    color: var(--excolor);
    font-weight: bold;
}
.important {
    color: var(--importantcolor);
    font-weight: bold;
}

.split {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    align-content: center;
}

.split70 {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    align-content: center;
}


.box, .hbox {
    margin: 1ch;
    border: 0.3ch solid;
    text-align: center;
    padding: 1ch 0;
}

.box h3, .hbox h3 {
    margin: 0.5ch;
}

.hbox.current-fragment {
  backdrop-filter: brightness(300%);
}


.illustration {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.illustration img, figure img {
    width: 100%;
    height: auto;
}


.references {
    font-size: 0.5em;
    margin-top: 2ch;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.full-height {
    height: 80%;
}
.full-width {
    width: 80%;
}


.katex { font-size: 0.8em !important; }

   

/* title page */
.titlepage { text-align: center; }
.titlepage p, .titlepage h1, .titlepage h2 { margin: 0.5ch; }

p.author { font-weight: bold;}
p.subtitle {
    font-size: 1.5em;
    color: var(--titlecolor);
}
p.institute { text-decoration: underline; }
p.date { font-style: italic; }

/* media */
figure {
    margin: auto;
    text-align: center;
    margin: 1ch;
}

figcaption {
    font-size: 0.5em;
}

table {
    border-collapse: collapse;
    margin: 1ch;
    text-align: center;
}
table tr {
    border-bottom: 1px solid var(--textcolor);
}
table td, table th {
    padding: 0.2ch 0.5ch;
    
}

table.small-table {
    width: auto;
    flex-shrink: 0;
}

table.small-table, table.small-table td, table.small-table th {
    border: 1px solid var(--textcolor);
    flex-shrink: 0;
}

table.align {
    text-align: left;
}
table.align td, table.align tr {
    border: none;
}
    

marker {
  visibility: visible;
}

ul { margin: 0.5ch; }

li { margin: 0; }

div.sourceCode {
    padding: 1ch;
    border: 3px solid black;
}

.pandoc-compile svg {
    width: 100%;
}

h1.full-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background: none;
    }
section.full-title {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1.full-title span {
    background-color: rgb(255,255,255,0.9);
    padding: 1ch;
}
